[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "uvicorn app:app"
dev = "uvicorn app:app --reload"
test = "pytest"

[packages]
fastapi = "*"
uvicorn = "*"
pymongo = "*"
requests = "*"
pytest = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
