[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python3 main.py"
test = "pytest"
reset_dir = "python3 scripts/reset.py"

[packages]
discord = "*"
requests = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
bs4 = "*"
"discord.py" = {extras = ["voice"], version = "*"}
pydantic = "*"
pytest = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
